@charset "UTF-8";
.one,.one-top,.one-color,.one-shampoo,.one-reserve {
    width: 150px;
    height: 200px;
}

.two,.two-top,.two-color,.two-shampoo,.two-reserve {
    width: 150px;
    height: 200px;
}

.three,.three-top,.three-color,.three-shampoo,.three-reserve {
    width: 150px;
    height: 200px;
}

.four,.four-top,.four-color,.four-shampoo,.four-reserve {
    width: 150px;
    height: 200px;
}

@media screen and (max-width:700px) {
.one,.one-top,.one-color,.one-shampoo,.one-reserve {
    width: 50px;
    height: 70px;
}

.two,.two-top,.two-color,.two-shampoo,.two-reserve {
    width: 50px;
    height: 70px;
}

.three,.three-top,.three-color,.three-shampoo,.three-reserve {
    width: 50px;
    height: 70px;
}

.four,.four-top,.four-color,.four-shampoo,.four-reserve {
    width: 50px;
    height: 70px;
} 
    
#Logo {
    width: 70%;
}

#R-Logo {
    width: 70%;
} 
    
h1 {
    font-family: "Avenir Next";
    font-weight: Medium;
    font-size: 60px;
    line-height: 10px;
}
    
.text-Box {
        width: 100%;
}
    
    .text-Box p {
        width: 100%;
        font-size: 12px;
}    
}