@charset "UTF-8";
.one,.one-top,.one-color,.one-shampoo,.one-reserve {
    width: 200px;
    height: 250px;
}

.two,.two-top,.two-color,.two-shampoo,.two-reserve {
    width: 200px;
    height: 250px;
}

.three,.three-top,.three-color,.three-shampoo,.three-reserve {
    width: 200px;
    height: 250px;
}

.four,.four-top,.four-color,.four-shampoo,.four-reserve {
    width: 200px;
    height: 250px;
}